<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Student Details</h1>
    studentid:{{studentid}} <br> studentname:{{studentname}}
    <br>studentmarks:{{studentmarks}}
    <table border="1">
        <tr>
            <th>subject</th>
            <th>marks</th>
        </tr>
        {{#each subject}}
        <tr>
            <td>{{name}}</td>
            <td>{{marks}}</td>
        </tr>
        {{/each}}

    </table>

</body>

</html>